<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
		<title>全民严选</title>
		<link rel="stylesheet" href="../../../assets/style/public.css">
		<link rel="stylesheet" href="./css/down.css">
	</head>
	<body>
		<div class="wrapper" id="downApp">
			<img class="banner" src="https://img.quanminyanxuan.com/other/e3db238ff911473b96df8ad62ecca377.png" >
			<img class="banner1" src="https://img.quanminyanxuan.com/other/5ffe4f45c1504d399a6d914007373026.png" >
			<div class="box">
				<img class="boxImg" src="https://img.quanminyanxuan.com/other/ce575d71198a404690a2b9fbd8b29ffe.png" >
				<p class="boxbut">下载APP参与活动</p>
			</div>
		</div>
		<div class='wxbox' style="display: none;">
			<img class="wxboxImg" src="https://img.quanminyanxuan.com/other/32dd800d681d4b5d8685e6d89287f635.png" >
		</div>
		<script src="https://img.quanminyanxuan.com/old/duanxinshop/dist/js/jquery.min.js"></script>
		<script src="../../../common/public.js?v=1.03"></script>
		<script src="../../../common/md5.js"></script>
		<script src="../../../common/http.js?v=1.03"></script>
		<script src="./js/down.js"></script>
		<script type="text/javascript">
			$('#downApp').click(()=>{
				downAppgo()
			})
		</script>
	</body>
</html>
