@charset "utf-8";
.wrapper {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 0;
	font-size: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f5f5f5;
	padding-bottom: 2rem;
}
/* 顶部文字滚动 */
.time-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.1);
	padding: .02rem .1rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
.time-box .time-inner {
	width: 100%;
	height: .5rem;
	padding: .08rem .18rem;
	display: flex;
	align-items: center;
}
.time-box .time-icon {
	width: .32rem;
	height: .32rem;
	margin-right: .08rem;
	display: block;
}
.time-box .time-right {
	flex: 1;
	overflow: hidden;
}
.time-box .right-inner {
	will-change: transform;
	width: 100%;
	display: flex;
	animation-name: marquee;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.time-box .time-txt {
	color: #fff;
	font-size: .24rem;
}
@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-92%);
	}
}

/* 顶部账户 */
#account{
	width: 100%;
    background-color: #b3242b;
	padding-bottom: 0.2rem;
}
/* 账户列表 */
.card-box {
	width: 85%;
	margin: 1rem auto 0;
	z-index: 99;
	background: #FFFFFF;
	border-radius: .1rem;
	padding:0.2rem 5%;
    border:0.05rem solid #ffd7ad;
	position: relative;
}
.card-box .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .2rem;
	padding-bottom: .34rem;
}
.card-box .top .left {
	display: flex;
	flex-direction: column;
}
.card-box .top .left .title {
	font-size: .28rem;
	font-weight: 500;
	color: #222;
	margin-bottom: 0.1rem;
}
.card-box .top .left .num {
	font-weight: bold;
	color: #CF192A;
}
.card-box .top .left .num .num1{
	font-size: .66rem;
	line-height: 0.66rem;
	display: inline-block;
	vertical-align: middle;
}
.card-box .top .left .num .num2{
	font-size: .5rem;
	line-height: .5rem;
	display: inline-block;
	vertical-align: middle;
}
.card-box .top .left  .jgq{
	position: absolute;
	top: 20%;
	left: 28%;
	font-size: 0.22rem;
	background-color: #f29838;
	text-align: center;
	color: #fff;
	padding: 0.01rem 0.05rem;
	border-radius: 55rem 55rem 55rem 0;
}
.card-box .top .right {
	position: absolute;
	right: 8%;
	top: 12%;
    border: 1px solid #b36512;
	border-radius: .55rem;
    color: #b36512;
	font-size: .26rem;
	padding: 0.05rem 0.2rem;
}
.card-box .bottom {
	width: 100%;
	margin: 0.3rem 0 0;
	position: relative;
}
.card-box .bottom .left,.card-box .bottom .right {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.card-box .bottom .b-line{
	position: absolute;
	top: 15%;
	left: 50%;
	width: 0.05rem;
	height: 0.35rem;
	background-color: #ffd7ad;
	border-radius: 0.1rem;
}
.bleft-tom{
	font-size: .26rem;
	font-weight: 500;
	color: #666;
}
.bleft-tom1 {
	font-size: .3rem;
	font-weight: bold;
	color: #cf192a;
	margin-left: 0.1rem;
}

.card-box .bottom .right .bleft-tom{
	margin-left: 0.5rem;
}
/* 账户功能 */
.sign-column{
	width: 90%;
	padding: 0.3rem 2.5%;
	margin: 0.2rem auto 0;
	background-color: #fff;
	border-radius: 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.sign-column .sign-line{
	position: absolute;
	top: 10%;
	left: 49%;
	width: 0.02rem;
	height: 100%;
	background-color: #f5f5f5;
}
.sign-column .left-sign-box{
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 0.01rem);
}
.sign-column .left-sign-box .inner-box{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 1rem);
	padding-left: 0.1rem;
}
.sign-column .left-sign-box .inner-box .s-title{
	font-size: 0.3rem;
	line-height: 0.3rem;
	color: #333;
	font-weight: 500;
}
.sign-column .left-sign-box .inner-box .s-tip{
	font-size: 0.24rem;
	line-height: 0.24rem;
	color: #999999;
	font-weight: 400;
	margin-top: 0.15rem;
}
.sign-column .left-sign-box .sign-icon{
	display: inline-block;
	 vertical-align: middle;
	 width: 0.6rem;
}
/* 选项卡 */
.tab-boxt {
	width: 100%;
	position: relative;
	background-color: #fff;
	padding: .4rem 0 .3rem;
	box-sizing: border-box;
}
.tab-boxt .boxt-bg {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: .42rem;
	width: 60%;
}
.tab-boxt .boxt-tit {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: .42rem;
	line-height: .42rem;
	font-weight: 700;
}
.tab-boxt .boxt-tit .left-txt {
	color: #d9106e;
	margin-right: .1rem;
}
.tab-box {
	width: 100%;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	padding: .1rem 0;
	z-index: 100;
	background: #fff;
	/* overflow: hidden; */
}
.tab-box .tab-top-nav {
	width: 100%;
	padding: 0 1%;
	font-size: 0;
	/* border-bottom: 1px solid #e5e5e5; */
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}
.tab-box .tab-item {
	font-size: .28rem;
	line-height: .28rem;
	height: .8rem;
	line-height: .7rem;
	width: 33%;
	display: inline-block;
	vertical-align: middle;
	color: #6d6565;
	position: relative;
	font-weight: bold;
	text-align: center;
}
.tab-box .tab-item-active {
	color: #CF192A;
	font-size: .32rem;
}
.tab-box .tab-item-active::after {
	content: "";
	position: absolute;
	width: .64rem;
	height: .06rem;
	background: #CF192A;
	border-radius: 1px;
	bottom: 0;
	left: 48%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-con-box-box{
	width: 100%;
	margin: .7rem auto 0;
	text-align: center;
}
.main-con-box-box .enve-sum {
	width: 1.4rem;
	height: 1.06rem;
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #DC2D28;
	background: url(https://img.quanminyanxuan.com/service/b1b516171c444c99825fe70b579a967f.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-con-box-box .main-icon{
	display: block;
	width: 1.6rem;
	margin: 0 auto;
}
.main-con-box-box .main-txt{
	width: 100%;
	text-align: center;
	margin-top: 0.3rem;
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #666666;
}
.main-con-box-box .btn-get-all,
.main-con-box-box .btn-use-all {
	font-size: 0.28rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.42rem;
	background: #DC2D28;
	display: inline-block;
	margin: 0 auto;
	padding: .12rem .7rem;
	border-radius: .08rem;
	margin-top: .4rem;
}
/* 商品 */
.main-tj{
	width: 100%;
	font-size: 0.3rem;
	color: #cf192a;
	text-align: center;
	margin-top: 0.5rem;
}
.main-tj .main-tjImg{
	display: inline-block;
	vertical-align: middle;
	width: 0.3rem;
}
.main-tj .main-tjp{
	display: inline-block;
	vertical-align: middle;
}
.product-list-more {
	width: 95%;
	min-height: 100vh;
	margin: 0.2rem auto 0;
	position: relative;
	z-index: 10;
}
.product-list-more .product-item-enve {
	width: 95%;
	padding: .16rem .2rem;
	background: #fff;
	border-radius: .08rem;
	display: flex;
	position: relative;
	margin-bottom: .2rem;
}
.product-list-more .product-item-enve .left {
	flex: 0 0 72%;
	padding-right: .2rem;
	box-sizing: border-box;
	overflow: hidden;
}
.product-list-more .product-item-enve .product-info-wraper {
	display: flex;
}
.product-list-more .product-item-enve .product-info-wraper .cover-img {
	flex: 0 0 2rem;
	height: 2rem;
	margin-right: .16rem;
	border-radius: .08rem;
}
.product-list-more .product-item-enve .product-info {
	width: 100%;
	overflow: hidden;
}
.product-list-more .product-item-enve .product-info .name {
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 0.42rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.product-list-more .product-item-enve .product-info .label {
	font-size: 0.24rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #FF5D18;
	line-height: 0.42rem;
	padding: 0 .1rem;
	background: #FFF2EC;
	margin-top: .04rem;
}
.product-list-more .product-item-enve .product-info .oprice {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #999999;
	line-height: 0.42rem;
	margin-top: .2rem;
}
.product-list-more .product-item-enve .product-info .oprice .sum {
	text-decoration: line-through;
}
.product-list-more .product-item-enve .product-info .cprice {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #DC2D28;
	line-height: 0.42rem;
}
.product-list-more .product-item-enve .product-info .cprice .sum {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #DC2D28;
	line-height: 0.42rem;
}
.product-list-more .product-item-enve .product-info .cprice .sum .num {
	font-size: 0.36rem;
}
.product-list-more .product-item-enve .get-box {
	display: flex;
	align-items: center;
}
.product-list-more .product-item-enve .get-box .get-bg {
	width: 66%;
	height: .12rem;
	background: #EEEEED;
	border-radius: .06rem;
}
.product-list-more .product-item-enve .get-box .get-bg .get-inner {
	height: 100%;
	background: #DC2D28;
	border-radius: .06rem;
}
.product-list-more .product-item-enve .get-box .desc {
	width: 30%;
	margin-left: 4%;
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 0.42rem;
}
.product-list-more .product-item-enve .right {
	width: 28%;
	padding-left: .2rem;
	box-sizing: border-box;
	border-left: 1px dashed #f5f5f5;
	text-align: center;
}
.product-list-more .product-item-enve .right .sum {
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #DC2D28;
	line-height: 0.42rem;
	margin-top: .3rem;
}
.product-list-more .product-item-enve .right .sum .num {
	font-size: .6rem;
}
.product-list-more .product-item-enve .right .txt {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #DC2D28;
	line-height: 0.42rem;
	margin-top: .1rem;
}
.product-list-more .product-item-enve .right .btn-get,
.product-list-more .product-item-enve .right .btn-get-use,
.product-list-more .product-item-enve .right .btn-add-not {
	font-size: 0.28rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.42rem;
	background: #DC2D28;
	border-radius: .08rem;
	width: 80%;
	margin: .2rem auto 0;
	padding: .1rem 0;
}
.product-list-more .product-item-enve .right .btn-get-use {
	background: #FFBB13;
}
.product-list-more .product-item-enve .right .btn-add-not {
	background: #ccc;
}
.product-list-more .product-item-enve .end-img {
	width: 1.4rem;
	position: absolute;
	right: 0px;
	top: 0px;
}
/* 已领取 */
.product-list-get {
	margin-top: .2rem;
	width: 95%;
}
.product-item-get {
	width: 95%;
	padding: .46rem .2rem;
	background: #fff;
	border-radius: .08rem;
	display: flex;
	position: relative;
	margin-bottom: .2rem;
	overflow: hidden;
}
.product-item-get:last-of-type {
	margin-bottom: 0;
}
.product-item-get .left {
	flex: 0 0 75%;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
}
.product-item-get .left .sum-box {
	flex: 0 0 36%;
	text-align: center;
	margin-right: .2rem;
}
.product-item-get .left .sum-box .sum {
	font-size: 0.4rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #FFBB13;
}
.product-item-get .left .sum-box .sum .num {
	font-size: 0.72rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #FFBB13;
	line-height: 0.72rem;
}
.product-item-get .left .sum-box .txt {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #FFBB13;
	line-height: 0.42rem;
}
.product-item-get .left .product-info {
	flex: 1;
}
.product-item-get .left .product-info .info {
	display: flex;
	margin-top: .26rem;
}
.product-item-get .left .product-info .info .cover-img {
	width: .68rem;
	height: .68rem;
	margin-right: .1rem;
	border-radius: .04rem;
}
.product-item-get .left .product-info .info .name {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #333333;
	line-height: 0.36rem;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.product-item-get .right {
	width: 26%;
	box-sizing: border-box;
	text-align: center;
}
.product-item-get .right .btn-get-use {
	font-size: 0.28rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.42rem;
	background: #FFBB13;
	border-radius: .08rem;
	width: 80%;
	margin: .3rem auto 0;
	padding: .1rem 0;
}
.product-item-get .top-label {
	color: #fff;
	font-size: .24rem;
	line-height: normal;
	padding: .04rem .5rem;
	background: #DC2D28;
	transform: rotate(-45deg);
	position: absolute;
	left: -6%;
	top: 11%;
}


/* 底部导航 start *******************************************************/
.navigation {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 1.1rem;
	background: #fff;
	border-top: 1px solid #f5f6f8;
	z-index: 998;
}
.navigation .nav-item {
	flex: 1;
	display: flex;
	padding: .12rem 0;
	justify-content: center;
}
.navigation .nav-item .nav-item-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between; 
}
.navigation .nav-item .nav-item-content .nav-img {
	width: .5rem;
	height: .52rem
}
.navigation .nav-item .nav-item-content .nav-txt {
	color: rgb(204, 204, 204);
	font-size: .26rem;
}
.navigation .nav-item .nav-item-content .nav-txt.active {
	color: rgb(207, 25, 42);
}
/* 规则 */
.layer {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.layer .regulation {
	width: 80%;
	border-radius: .1rem;
	background-color: #ffffff;
	margin: auto;
	position: relative;
}
.regulation .regulation-head {
	width: 100%;
	padding: .5rem;
	box-sizing: border-box;
	position: relative;
}
.regulation .regulation-head .bg-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.regulation-head .regulation-title {
	width: 50%;
	text-align: center;
	font-size: .44rem;
	color: #ffffff;
	margin: 0 auto;
	position: relative;
}
.regulation .detail {
	width: 86%;
	margin: .37rem auto;
	overflow-y: scroll;
}
.regulation .regulation-item {
	display: flex;
	margin-bottom: .08rem;
	font-size: .24rem;
	font-weight: 600;
	color: #000;
}
.regulation-item .digit {
	flex: 0 0 10%;
}
.regulation-close {
	width: .63rem;
	height: .63rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: -1.2rem;
}