
.tab-box {
	width: 100%;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 100;
	background: #fff;
	border-bottom: 1px solid #F8F8F8;
}
.tab-box .tab-top-nav {
	width: 100%;
	padding: 0 1% .1rem;
	font-size: 0;
	overflow: scroll hidden;
	white-space: nowrap;box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
.tab-box .tab-top-nav::-webkit-scrollbar {
	display: none;
}
.tab-box .tab-item {
	font-size: .3rem;
	height: .65rem;
	line-height: .7rem;
	
	display: inline-block;
	vertical-align: middle;
	padding: 0 2.8%;color: #6d6565;
	position: relative;
	text-align: center;
	font-weight: 300;
}
.tab-box .tab-item-active {
	color: #FF162E;
	font-size: .32rem;
	font-weight: bold;
	position: relative;
}
.tab-box .tab-item-active::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -.06rem;
	transform: translateX(-50%);
	width: 30%;
	height: .04rem;
	background: #FF162E;
	border-radius: 1rem;
}


/* 你可能还喜欢 */
.guess-like {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .2rem;
}
.guess-like .line {
	width: .5rem;
	height: 1px;
	margin: 0 .16rem;
	background: #FF162E;
	position: relative;
}
.guess-like .line::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 3px;
	background: #FF162E;
	border-radius: 50%;
	right: 0;
	top: -1px;
}
.guess-like .line.r::after {
	left: 0;
	top: -1px;
}
.guess-like .icon {
	width: .3rem;
	height: .3rem;
	margin-right: .06rem;
}
.guess-like .title {
	color: #FF162E;
	font-size: .28rem;
	line-height: normal;
	font-weight: 500;
}
