@charset "utf-8";
.item-box {
	margin-bottom: .12rem;
	background: #ffffff;
	border-radius: .1rem;
    overflow: hidden;
	width: 49.2%;
}
.item-box .product-img {
    box-sizing: border-box;
	width: 100%;
	height: auto;
	border-radius: .08rem .08rem 0 0;
    position: relative;
}
.item-box .product-img .top-icon {
    width: 0.4rem;
    height: 0.5rem;
    background: url(https://img.quanminyanxuan.com/other/16db45a8f2ac479c832cd7ffddecbd9f.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0.1rem;
    text-align: center;
    font-size: 0.3rem;
    font-weight: 500;
    color: #FFFFFF;
    
}
.item-box .product-img .cover-img {
	width: 100%;
	height: auto;
	/* border-radius: .08rem .08rem 0 0; */
	display: block;
}
.item-box .product-info {
	width: 100%;
	padding: .25rem .12rem;
	box-sizing: border-box;
}
.item-box .product-info .buy-return {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #CF1A29;
	border-radius: .04rem;
	font-size: .24rem;
	font-weight: 400;
	color: #CF1A29;
	padding: .14rem .16rem;
	margin-top: .16rem;
}
.item-box .product-info .product-name {
	font-size: .28rem;
	line-height: .4rem;
	/* font-weight: bold; */
	height: .8rem;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.item-box .product-info .label {
	margin: .2rem 0;
	display: flex;
	align-items: center;
}
.item-box .product-info .label1 {
	padding: 0 .08rem;
	font-size: 0.22rem;
	line-height: normal;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	margin-right: .1rem;
	background: #FF162E;
	border-radius: .04rem;
	border: 1px solid #FF162E;
}
.item-box .product-info .label1 .icon {
	width: .2rem;
	height: .2rem;
	margin-right: .06rem;
}
.item-box .product-info .label2 {
	padding: 0 .08rem;
	line-height: normal;
	font-size: 0.22rem;
	font-family: PingFang SC;
	border: 1px solid #9F9F9F;
	border-radius: .04rem;
	font-weight: 500;
	color: #9F9F9F;
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
}
.item-box .product-price {
	margin-top: .1rem;
	font-size: .36rem;
	line-height: 1.1;
    font-weight: 800;
	color: #FF162E;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	vertical-align: bottom;
	white-space: nowrap;
}
.item-box .product-price .price-icon {
	width: .35rem;
	height: .35rem;
	margin-right: .06rem;
	margin-top: -.04rem;
}
.item-box .product-price .price {
	font-size: .28rem;
	line-height: 1;
	font-weight: bold;
	color: #F47A01;
	margin-right: .1rem;
}
.item-box .product-price .o-price {
	font-size: .24rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #999999;
}
.item-box .product-price .product-text {
	font-weight: bold;
	font-size: .36rem;
	line-height: .38rem;
	position: relative;
	bottom: -.02rem;
}
.item-box .product-price .product-card {
	font-size: 0.2rem;
    font-weight: 500;
    color: #E41F19;
}
.item-box .product-price .product-yuan {
	font-size: .26rem;
}
.item-box .by-box {
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .1rem;
}
.item-box .by-box .by-btn{
    font-size: 0.32rem;
    font-weight: 500;
    color: #FFFFFF;
	background: linear-gradient(90deg, #EF3F20 0%, #E90A01 100%);
    border-radius: 0.5rem;
    padding: 0.08rem 1.1rem;
}
.item-box .volume-box {
	font-size: 0.2rem;
	line-height: normal;
	font-weight: 500;
	color: #999999;
	line-height: 0.46rem;
}
.item-box .product-volumeStr{
	font-size: 0.2rem;
}
.item-box .product-volumeStr::before{
    content: '';
    display: inline-block;
    width: 0.17rem;
    height: 0.2rem;
    background: url(https://img.quanminyanxuan.com/other/db5f48c88be343c291502925af3ac588.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 0.05rem;
}
.activity-end {
	width: 100%;
	height: 3.6rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: .08rem .08rem 0 0;
}
.activity-end img {
	width: 100%;
	height: 3.6rem;
	border-radius: .08rem .08rem 0 0;
}