@charset "utf-8";
.wrapper {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 1.6rem;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
}
.banner {
	position: relative;
	min-height: 7.5rem;
}
.banner img {
	width: 100%;
    max-height: 7.5rem;
    object-fit: cover;
}
.banner .swiper-pagination-fraction {
	position: absolute;
	left: auto;
	right: .2rem;
	bottom: .2rem;
	width: .6rem;
	height: .6rem;
	border-radius: 50%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	font-size: .24rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-random {
	width: 54%;
	height: .6rem;
	background-color: rgba(0,0,0,.5);
	border-radius: 0 .5rem .5rem 0;
	position: absolute;
	left: 0;
	bottom: .8rem;
	padding-left: .2rem;
	z-index: 9;
}
.user-random .random {
	display: flex;
	align-items: center;
}
/* .user-random .swiper-container.swiper-container-random {
	height: .5rem;
	padding-top: .1rem;
} */
/* 重写swiper样式 */
.banner .swiper-container.swiper-container-banner {
	width: 100%;
	height: 100%;
}
.banner .swiper-container.swiper-container-banner .swiper-slide {
	box-sizing: border-box;
	position: relative;
}
.banner .swiper-pagination {
	text-align: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 3%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 .06rem;
}
.banner .swiper-pagination-bullet {
	width: .08rem;
	height: .08rem;
	background: #fff;
	border-radius: 1rem;
	opacity: 1;
}
.banner .swiper-pagination-bullet-active {
	width: .3rem;
}

.user-random .random-img {
	flex: 0 0 .4rem;
	height: .4rem;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
.user-random .random-name {
	font-size: .24rem;
	line-height: .24rem;
	color: #fff;
	margin-left: .1rem;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info-column {
    padding: .24rem .2rem .4rem;
	margin-bottom: .2rem;
	background-color: rgb(57, 130, 120);
}
.info-column .info-title {
    width: 100%;
    font-size: .32rem;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.info-column .info-price-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: .26rem;
    margin-bottom: .24rem;
	padding-left: .1rem;
    justify-content: space-between;
	box-sizing: border-box;
}
.info-column .info-price-wrapper .o-price {
    font-size: .28rem;
    line-height: .28rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #fff;
}
.info-column .hot-txt {
    font-size: .26rem;
    font-weight: 500;
    color: #fff;
}
.info-column .price-hot-icon {
    width: .2rem;
    height: .22rem;
	margin-left: .2rem;
	margin-right: .04rem;
}
.info-column .info-price-left {
	display: flex;
	align-items: center;
}
.info-column .info-price-right {
	display: flex;
	align-items: center;
	color: #fff;
}
.info-column .info-price-right .tiem-item {
	display: inline-block;
	vertical-align: middle;
	width: .38rem;
	height: .38rem;
	text-align: center;
	line-height: .38rem;
	color: #398278;
	border-radius: .04rem;
	background-color: #fff;
}
.info-column .info-price-right .tiem-item:last-of-type {
	margin-right: .1rem;
}
.info-column .info-price-right .time-dot {
	display: inline-block;
	vertical-align: middle;
	margin: 0 .06rem;
	color: #fff;
}
.info-column .sold-price-desc {
	width: 100%;
	height: 1.12rem;
	border-radius: .08rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: .4rem;
	padding-left: .24rem;
	box-sizing: border-box;
}
.info-column .sold-price-desc .product-price {
    font-size: .28rem;
    line-height: .28rem;
    color: #cf192a;
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
}
.info-column .sold-price-desc .product-price .product-text {
	font-weight: 700;
	font-size: .4rem;
	line-height: .4rem;
}
.info-column .sold-price-desc .product-price .product-card {
	font-weight: bold;
	font-size: .32rem;
	line-height: .38rem;
}
.info-column .sold-price-desc .product-price .product-yuan {
	font-size: .26rem;
	font-weight: bold;
}
.info-column .sold-price-desc .right-tip {
    display: flex;
    align-items: center;
}
.info-column .sold-price-desc .right-tip .reduce-img {
	display: inline-block;
	width: .32rem;
	height: .32rem;
}
.info-column .sold-price-desc .right-tip .reduce-txt-wrapper {
    position: relative;
	width: 1.12rem;
    height: 1.12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: .2rem;
	background-image: url('https://img.quanminyanxuan.com/other/13c13da9ca804d1eb57365d8758806ea.png');
}
.info-column .sold-price-desc .right-tip .reduce-txt-wrapper .reduce-tip {
    flex-shrink: 0;
    position: relative;
    z-index: 4;
    font-size: .24rem;
    line-height: .24rem;
    font-weight: 400;
    color: #666;
}
.info-column .sold-price-desc .right-tip .reduce-txt-wrapper .reduce-num {
    flex-shrink: 0;
    position: relative;
    z-index: 4;
    margin-top: .14rem;
    font-size: .28rem;
    line-height: .28rem;
    font-weight: 700;
    color: #cf192a;
}
.commodity-box {
    width: 100%;
    height: 1.12rem;
    display: flex;
    box-sizing: border-box;
    padding-left: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.commodity-box .commodity-title {
    color: #999;
    font-size: .26rem;
    font-weight: 400;
}
.commodity-box .commodity-tg {
    margin-left: .3rem;
    color: #333;
    font-size: .26rem;
    display: flex;
    align-items: center;
}
.commodity-box .phone {
    width: 1.04rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.commodity-box .phone-left {
    width: 1px;
    height: .2rem;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.commodity-box .phone-img {
	width: .5rem;
	height: .52rem;
}

.go-order {
	height: 1.4rem;
	margin-bottom: 0.2rem;
	display: flex;
	align-items: center;
	padding: 0 .2rem;
	box-sizing: border-box;
	background: #fff url(https://img.quanminyanxuan.com/other/b6c066f4e983409a861db912264ba71c.png) no-repeat;
	background-size: 7.1rem 1rem;
	background-position: center;
}
.go-order .sum {
	font-size: .28rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: .2rem;
}
.go-order .sum .num {
	font-size: .58rem;
}
.go-order .detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 0.7rem;
}
.go-order .detail .title {
	font-size: 0.28rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #FFFFFF;
}
.go-order .detail .subtit {
	font-size: 0.22rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
}
.go-order .btn {
	font-size: 0.24rem;
	line-height: normal;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	width: 1.3rem;
	height: 0.48rem;
	background: #cf192a;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 客服 */
.service-wrap {
	width: 100%;
	margin-bottom: .2rem;
	box-sizing: border-box;
	background: #fff;
}
.service-wrap .emption {
    width: 100%;
    height: .8rem;
    display: flex;
    align-items: center;
}
.service-wrap .emption-fh {
    display: flex;
    width: 1.04rem;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: .26rem;
}
.service-wrap .emption-zp {
    flex: 1;
    height: 100%;
    /* border-bottom: .5px solid #e5e5e5; */
    display: flex;
    align-items: center;
    font-size: .3rem;
	font-weight: bold;
    color: #333;
}
.service-wrap .emption-zp .emption-zp1 {
	display: inline-block;
	vertical-align: middle;
	font-size: .22rem;
	line-height: .22rem;
	color: #e51c30;
	margin-right: .1rem;
	text-align: center;
	background-image: url(https://img.quanminyanxuan.com/other/053bb901dbd449099937aaf6b723a366.png);
	background-size: 1.05rem .32rem;
	background-repeat: no-repeat;
	width: 1.05rem;
	height: .32rem;
}
.service-wrap .emption-price {
    position: absolute;
    right: .8rem;
    top: 34%;
    color: #333;
    font-size: .24rem;
}
.service-wrap .emption-arrow {
	position: absolute;
	right: .2rem;
	top: 38%;
	width: .24rem;
	height: .24rem;
}
.service-wrap .emption-zp.last {
	border: none;
}
.service-wrap .emption-zp .emption-zp-txt {
	margin-left: .1rem;
	color: #cf192a;
}
.service-wrap .emption-zp.service-box {
	font-size: 0.28rem;
	font-weight: 500;
	color: #CF652B;
}
.service-wrap .emption-zp.service-box .service-item {
	display: flex;
	align-items: center;
}
.service-wrap .emption-zp.service-box .icon {
	width: .26rem;
	height: .26rem;
	margin-right: .1rem;
}
.service-wrap .emption-zp.service-box .icon-head {
	width: 1.11rem;
	height: .32rem;
	margin-right: .16rem;
}
.service-wrap .emption-person {
    display: inline-block;
    vertical-align: middle;
    font-size: .24rem;
    background: #cf192a;
    border-radius: .04rem;
    color: #fff;
    padding: .02rem .14rem;
    margin-left: .24rem;
}

.service-bar {
    width: 100%;
    height: 1.12rem;
    display: flex;
    box-sizing: border-box;
    padding-left: .2rem;
	margin-bottom: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
	background: #fff;
}
.service-bar .commodity-title {
    color: #999;
    font-size: .26rem;
    font-weight: 400;
}
.service-bar .commodity-tg {
    margin-left: .3rem;
    color: #333;
    font-size: .26rem;
    display: flex;
    align-items: center;
}
.service-bar .phone {
    width: 1.04rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.service-bar .phone-left {
    width: 1px;
    height: .2rem;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.service-bar .phone-img {
	width: .5rem;
	height: .52rem;
}

.recommend-box {
    width: 100%;
	margin-bottom: .2rem;
    background: #fff;
    box-sizing: border-box;
}
.recommend-box .recommend-title {
    width: 90%;
    height: .4rem;
    line-height: .4rem;
    margin: .2rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.recommend-box .recommend-title .ddian {
    width: .08rem;
    height: .34rem;
    border-radius: .2rem;
    background-color: #FF162E;
}
.recommend-box .recommend-title .recommend-title-title {
	font-size: .36rem;
    line-height: normal;
    font-weight: 700;
    padding-left: .2rem;
}
.recommend-box .recommend-product {
    width: 100%;
    height: 3.8rem;
    padding: 0 .2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	box-sizing: border-box;
}
.recommend-box .recommend-product .swiper-pagination-bullet {
	width: .4rem;
	height: .04rem;
	background: rgba(0,0,0,.3);
	border-radius: .02rem;
	opacity: .3;
}
.recommend-box .recommend-product .swiper-pagination-bullet-active {
	background-color: #000;
}
.recommend-box .recommend-product .swiper-slide {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: .1rem;
}
.recommend-box .recommend-product .product-item {
    width: 2.24rem;
    margin-top: .2rem;
}
.recommend-box .recommend-product .product-item .product-image {
    width: 2.24rem;
    height: 2.24rem;
    display: inline-block;
    border-radius: .08rem;
}
.recommend-box .recommend-product .product-item .product-info {
    margin-top: .14rem;
    padding: 0 .1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .24rem;
    line-height: .24rem;
    display: -webkit-box;
    color: #333;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	box-sizing: border-box;
}
.recommend-box .recommend-product .product-item .product-btm {
    padding: 0 .1rem;
    margin-top: .1rem;
    width: 100%;
    display: flex;
    align-items: center;
	box-sizing: border-box;
}
.recommend-box .recommend-product .product-item .g-product-info {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
}
.recommend-box .recommend-product .product-item .g-product-info .descr {
	width: 98%;
	margin: .14rem auto .08rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: .26rem;
	color: #333;
	line-height: .36rem;
}
.recommend-box .recommend-product .product-item .g-product-info .inter-bottom {
	display: inline-block;
	margin: .14rem 0 .08rem 2.5%;
	font-size: .22rem;
	font-weight: 400;
	background: #cf192a;
	white-space: nowrap;
	color: #fff;
	padding: .04rem .04rem;
	text-align: center;
	border-radius: .04rem;
}
.recommend-box .recommend-product .product-item .g-product-info .integral-price {
	width: 98%;
	margin: 0 auto;
}
.recommend-box .recommend-product .product-item .g-product-info .price1 {
	font-size: .18rem;
	line-height: .18rem;
	font-weight: 400;
	color: #FF162E;
	margin-right: .04rem;
}
.recommend-box .recommend-product .product-item .g-product-info .price1 .num {
	font-size: .28rem;
	line-height: .28rem;
	font-weight: 900;
}
.recommend-box .recommend-product .product-item .g-product-info .price2 {
	font-size: .2rem;
	text-decoration: line-through;
	color: #999;
}
.recommend-box .product-btm .product-jifen {
    font-size: .24rem;
    line-height: .24rem;
    color: #cf192a;
    font-weight: 500;
}
.recommend-box .product-btm .product-jifen-price {
    font-size: .22rem;
    line-height: .2rem;
    color: #cf192a;
}
.evalute {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #fff;
    padding: .22rem .2rem .3rem;
	margin-bottom: .2rem;
	margin-top: .2rem;
}
.evalute .evalute-top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececee;
    justify-content: space-between;
    padding-bottom: .22rem;
}
.evalute .evalute-top .num,
.evalute .evalute-top .evalute-text .text2 {
	color: rgb(153, 153, 153);
}
.evalute .evalute-top .evalute-text .text1 {
	color: #cf192a;
}
.evalute-swiper {
	height: 2.04rem;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
}
.evalute-swiper::-webkit-scrollbar {
    display: none
}
.evalute-swiper .swiper-item {
    flex: 0 0 4.6rem;
    height: 1.74rem;
    margin-right: .2rem;
    border-radius: .04rem;
    background: #f5f5f5;
    padding-top: .1rem;
    margin-top: .2rem;
}
.evalute-swiper .swiper-item .user-info {
    display: flex;
    align-items: center;
    margin: .3rem 0 .1rem;
    padding-left: .2rem;
}
.evalute-swiper .user-info .user-img {
    width: .44rem;
    height: .44rem;
    border-radius: 50%;
    margin-right: .16rem;
    border: 1px solid #e5e5e5;
}
.evalute-swiper .user-info .user-name {
    font-size: .24rem;
    font-weight: 400;
    color: #333;
    line-height: .24rem;
}
.evalute-swiper .user-info .user-name {
    font-size: .24rem;
    font-weight: 400;
    color: #333;
    line-height: .24rem;
}
.evalute-swiper .evalute-txt {
    width: 4.22rem;
    margin: 0 auto;
    font-size: .24rem;
    color: #7f7f7f;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.graphic {
	background-color: #fff;
}
.graphic .graphic-header {
    width: 90%;
    height: .4rem;
    line-height: .4rem;
    margin: .2rem;
    display: flex;
    align-items: center;
}
.graphic .graphic-header .ddian {
	width: .08rem;
	height: .34rem;
	border-radius: .2rem;
	background-color: #FF162E;
}
.graphic .graphic-header .title {
    font-size: .36rem;
    line-height: normal;
    font-weight: 700;
    padding-left: .2rem;
}
.graphic .imglist img {
	width: 100%;
}

.goods-shop-cart {
    position: fixed;
    z-index: 10;
    bottom:0;
    width: 100%;
    height: 1.2rem;
    background: #fff;
    box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 10%);
    display: flex;
	align-items: center;
	transition: all .1s;
}
.goods-shop-cart .shop-left {
	height: 100%;
	display: flex;
}
.goods-shop-cart .shop-left .guon {
    width: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: .16rem;
    position: relative;
}
.goods-shop-cart .shop-left .line::after {
    content: '';
    width: 0.02rem;
    height: 50%;
    background: #ededed;
    position: absolute;
    top: 50%;
    right: -0.1rem;
    transform: translateY(-50%);
   
}
.goods-shop-cart .shop-left .guon .title {
	font-size: .22rem;
	line-height: .22rem;
	margin-top: .1rem;
}
.goods-shop-cart .shop-left .guon .icon {
	display: inline-block;
	width: .38rem;
	height: .38rem;
}
.goods-shop-cart .shop-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.goods-shop-cart .shop-right .shop-right-btn {
	width: 100%;
	height: 100%;
	background: #FF0124;
}
.goods-shop-cart .shop-right .shop-right-text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	/* font-size: .36rem; */
	transform: translate(-50%, -50%);
	text-align: center;
}
.goods-shop-cart .shop-right .shop-right-text1 {
	color: #fff;
	font-size: .35rem;
	line-height: 0.36rem;
	margin-top: 0.02rem;
}
.goods-shop-cart .shop-right .shop-right-text2 {
	color: #fff;
	font-size: .22rem;
	line-height: 0.24rem;
	margin-top: 0.06rem;
}
/* 倒计时 */
.goods-shop-cart .counter {
	display: flex;
	align-items: center;
}
.goods-shop-cart .counter .tiem-item,
.goods-shop-cart .counter .time-dot {
	font-size: 0.24rem;
	line-height: normal;
	font-weight: normal;
	color: #fff;
	padding: 0 .02rem;
}
.goods-shop-cart .counter .icon-arr {
	width: .26rem;
	height: .26rem;
	margin-left: .1rem;
}

/* 客服悬浮窗隐藏 */
#YSF-BTN-HOLDER {
	width: 0;
	height: 0;
}

/* 返回顶部 */
.back-top {
	width: .7rem;
	height: .7rem;
	position: fixed;
	bottom: 3rem;
	border-radius: 50%;
	right: .2rem;
	z-index: 40;
	background: url(https://img.quanminyanxuan.com/other/672ff2c2ad8c47ae8084c408c4714535.png) no-repeat;
	background-size: 100% 100%;
}
.back-top .icon {
	width: .18rem;
	height: .18rem;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(-45deg);
	margin-top: .12rem;
	margin-bottom: -.04rem;
}
.back-top .text {
	color: #fff;
	font-size: .22rem;
	line-height: .22rem;
	text-decoration: underline;
}
.back-top.service {
	bottom: 2.1rem;
	background: url(https://img.quanminyanxuan.com/other/7b19f362345c4bc6bac6fad7da3b0a28.png) no-repeat;
	background-size: 100% 100%;
}

/* 弹窗 */
.buy-popup,
.simple-address,
.sub-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: -99;
	transition-duration: .5s;
	opacity: 0;
}
.simple-address {
	transition-duration: 0s;
}
.buy-poup-content {
	width: 100%;
	min-height: 9.62rem;
	padding: .18rem .3rem .5rem;
	background: #fff;
	position: absolute;
	box-sizing: border-box;
	/* transform: translateY(9.82rem); */
	bottom: -100vh;
	transition-duration: .5s;
}
.simple-address .buy-poup-content {
	transition-duration: 0s;
}
.buy-popup.show,
.simple-address.show,
.sub-popup.show {
	z-index: 99;
	opacity: 1;
}
.buy-popup.show .buy-poup-content,
.simple-address.show .buy-poup-content,
.sub-popup.show .buy-poup-content {
	bottom: 0;
	/* transform: translateY(0); */
}
.buy-poup-content .buy-poup-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.buy-poup-content .buy-poup-top .info-img {
	position: absolute;
	left: 0;
	top: -.92rem;
	z-index: 10;
	width: 2.3rem;
	height: 2.3rem;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .08rem;
}
.buy-poup-content .buy-poup-top .info-detail {
	min-height: 1.48rem;
	margin: 0 0 0 2.5rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
	justify-content: space-between;
}
.buy-poup-content .buy-poup-top .close-wrap {
	right: -.22rem;
	top: -.1rem;	
	width: .3rem;
	height: .3rem;
	padding: .1rem;
}
.buy-popup .buy-poup-content .buy-poup-top .info-detail .title {
	display: block;
	flex-wrap: wrap;
	font-size: .26rem;
	font-weight: 700;
	color: #333;
	line-height: .36rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.buy-poup-content .buy-poup-top .info-detail .now-price-wrapper {
	display: flex;
	align-items: baseline;
	margin: .18rem 0;
	color: #FF0124;
}
.buy-poup-content .now-price-wrapper .text1 {
	font-size: .26rem;
	line-height: .28rem;
    font-weight: bold;
	color: #333;
	margin-right: .06rem;
}
.buy-poup-content .now-price-wrapper .text2 {
	font-weight: bold;
	font-size: .36rem;
	line-height: .38rem;
	position: relative;
	bottom: -.02rem;
}
.buy-poup-content .now-price-wrapper .text3 {
	font-size: .26rem;
	line-height: .28rem;
    font-weight: bold;
}
.buy-poup-content .now-price-wrapper .text4 {
	font-size: .24rem;
	line-height: .24rem;
	text-decoration: line-through;
	color: rgb(153, 153, 153);
	margin-left: .1rem;
position: relative;bottom: .02rem;}
.buy-poup-content .now-price-wrapper .tuihuan,
.buy-poup-content .now-price-wrapper .baoyou {
	display: inline-block;
	vertical-align: middle;
	padding: .06rem .14rem;
	background-color: #cf192a;
	color: rgb(255, 255, 255) !important;
	font-weight: 400;
	font-size: .26rem;
	line-height: .26rem;
	border-radius: .04rem;
}
.buy-poup-content .now-price-wrapper .baoyou {
	margin-left: .1rem;
}
.buy-poup-content .info-detail .spec-tip-text {
	width: 100%;
	color: #999;
	font-size: .24rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.buy-poup-content .buy-poup-top .remind-choose {
	width: 100%;
	margin-top: .36rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	
	font-weight: 700;
	font-size: .34rem;
	line-height: .34rem;
	padding-bottom: 0.2rem;
}
.buy-popup .buy-poup-content .container {
	max-height: 6.4rem;
	min-height: 4.4rem;
	overflow-y: scroll;
}
.buy-poup-content .container .title {
	font-size: .26rem;
	font-weight: 600;
	color: #343434;
	font-family: Source Han Sans CN;
	margin-bottom: .2rem;
}
.buy-poup-content .container .specification {
	margin-top: 0.3rem;
	display: flex;
	flex-direction: column;
}
.buy-poup-content .container .specification .spec {
	font-size: .28rem;
	margin-right: .18rem;
	margin-top: .1rem;
	padding: .1rem;
	box-sizing: border-box;
	background: #f5f5f5;
	color: #343434;
	font-weight: 500;
	min-width: 1.2rem;
	height: .8rem;
	border-radius: .08rem;
	border: 2px solid #f5f5f5;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: inline-flex;
}
.buy-poup-content .container .specification .specsub {
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.buy-poup-content .container .specification .spec.active {
	background: #fff;
	color: #FF0124;
	border: 2px solid #FF162E;
	position: relative;
}
.buy-poup-content .container .specification .spec.active::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	width: .3rem;
	height: .3rem;
	background: url(https://img.quanminyanxuan.com/other/2de028907fc6479f8832c99cec655463.png) no-repeat;
	background-size: 100% 100%;
}
.buy-poup-content .container .specification .spec.disable {
	color: #fff;
	background: #f3f3f3;
	border: none;
}
.buy-poup-content .number-select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: .56rem;
	margin-bottom: .3rem;
	margin-top: .3rem;
}
.buy-poup-content .number-select .left {
	font-size: .26rem;
	font-weight: 700;
	color: #333;
}
.buy-poup-content .number-select .right {
	width: 2.04rem;
	height: .56rem;
}
.buy-poup-content .numberbt{
	width: 100%;
	text-align: center;
	font-size: 0.26rem;
	line-height: 0.26rem;
	color: #666;
	margin: 0 auto 0.2rem;
}
.buy-poup-content .numberbt span{
	color: #cf192a;
}
.buy-poup-content .determine {
	width: 6.9rem;
	height: .96rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .3rem;
	text-align: center;
	background-color: #FF0124;
	margin-left: .2rem;
	font-weight: 500;
	color: #fff;
	border-radius: .04rem;
	margin: 0 auto;
}
/* 地址弹窗 */
.simple-address .buy-poup-top .info-detail .title {
	display: block;
	flex-wrap: wrap;
	font-size: .26rem;
	font-weight: 700;
	color: #333;
	line-height: .36rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.simple-address .form-item .label {
	display: block;
	font-size: .32rem;
	line-height: .32rem;
	margin-top: .4rem;
	margin-bottom: .2rem;
	color: #333;
	font-weight: 600;
}
.simple-address .form-item .input-item {
	width: 6.9rem;
	height: 1.1rem;
	border-bottom: 1px solid #d7d7d7;
	border-radius: .04rem;
}
.simple-address .form-item .label i {
	color: #c0351e;
}
.simple-address .form-item .input-item .input-box {
    box-sizing: border-box;
    font-size: .28rem;
    /* padding: 0 .24rem; */
    font-weight: 400;
    color: #333;
    height: 1.1rem;
	width: 100%;
}
.simple-address .tips {
	margin: .6rem 0 .3rem;
	font-size: .24rem;
	line-height: .24rem;
	font-weight: 400;
	color: #FF0124;
}
.simple-address .address-wrap {
	display: flex;
	justify-content: space-between;
border-bottom: 1px solid #d7d7d7;height: 1.1rem;align-items: center;}
.address-wrap .address-item {
	width: 2.22rem;
	height: .9rem;
	display: flex;
	align-items: center;
	padding: 0 .2rem;
	/* border: 1px solid #e5e5e5; */
	border-radius: 6px;
	position: relative;
	box-sizing: border-box;
}
.address-wrap .address-item .address-txt {
	font-size: .3rem;
	font-weight: 400;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.address-wrap .address-item .bottom-arrow {
	width: .15rem;
	height: .15rem;
	position: absolute;
	right: .2rem;
}
/* 补贴弹窗 */
.sub-popup .buy-poup-content {
	border-radius: .2rem .2rem 0 0;
}
.sub-popup .buy-poup-content .title {
	color: #333333;
	font-size: .36rem;
	font-weight: bold;
	text-align: center;
}
.sub-popup .buy-poup-content .title2 {
	color: #333;
	font-size: .32rem;
	margin-top: .5rem;
	margin-bottom: .2rem;
	font-weight: bold;
}
.sub-popup .buy-poup-content .centent {
	width: 7rem;
	height: 1.22rem;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: .1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .2rem;
	box-sizing: border-box;
}
.sub-popup .buy-poup-content .centent img {
	width: .4rem;
}
.sub-popup .buy-poup-content .determine {
	position: absolute;
	bottom: .5rem;
}
.sub-popup .buy-poup-content .centent-l .head {
	display: inline-block;
	vertical-align: middle;
	font-size: .24rem;
	line-height: .24rem;
	color: #e51c30;
	padding: .08rem .14rem;
	text-align: center;
	margin-left: .1rem;
	background-image: url(https://img.quanminyanxuan.com/other/a054b60274824638925f4637e3d4c76e.png);
	background-size: 100% 100%;
}

.sub-popup .buy-poup-content .close-wrap {
    right: -.12rem;
    top: -.06rem;
}

/* 补贴 ************************************************************************/
.oldForNew-nav-bar {
	width: 100%;
	height: .94rem;
	box-sizing: border-box;
	padding: 0 .54rem;
	display: flex;
	align-items: center;
	font-size: .3rem;
	color: #333;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	/* position: sticky;
	top: 0;
	left: 0;
	z-index: 1111; */
}
.oldForNew-nav-bar .nav-left {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: .26rem;
}
.oldForNew-nav-bar .nav-left .nav-icon,
.oldForNew-nav-bar .nav-right .nav-icon {
	width: .4rem;
	height: .4rem;
	margin-right: .1rem;
}
.oldForNew-nav-bar .nav-left .text-style {
	color: #cf192a;
}
.oldForNew-nav-bar .nav-right {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px #ececec solid;
}

/* 信息栏目 */
.oldForNew-product-info {
	width: 100%;
	background: #006F72;
	padding: .3rem;
	box-sizing: border-box;
}
.oldForNew-product-info .product-text .share {
    height: 0.96rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.24rem;
    color: #333333;
}
.oldForNew-product-info .product-text .share img{
    width: 0.31rem;
    height: 0.31rem;
}
.oldForNew-product-info .volume {
    font-size: 0.26rem;
    font-weight: 500;
    color: #999999;
}
.oldForNew-product-info .title {
    width: 100%;
	font-size: 0.35rem;
    color: #fff;
    line-height: 0.48rem;
    text-align: center;
	/* overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; */
}
.oldForNew-product-info .price {
	text-align: center;
    color: #fff;
}
.oldForNew-product-info .price .left {
    font-size: 0.48rem;
    font-weight: bold;
}
.oldForNew-product-info .price .right {
    font-size: 0.22rem;
    text-decoration: line-through;
}
.oldForNew-product-info .price .sign {
	font-size: .28rem;
}
.oldForNew-product-info .price .oprice {
	flex: 1;
	font-size: 0.22rem;
	font-weight: 400;
	color: #999999;
	text-decoration: line-through;
	margin-left: .1rem;
	position: relative;
	bottom: .04rem;
}
.oldForNew-product-info .price .volume {
	display: flex;
	align-items: center;
	position: relative;
	bottom: .06rem;
}
.oldForNew-product-info .price .volume .price-hot-icon {
    width: .17rem;
    height: .2rem;
	margin-right: .1rem;
}
.oldForNew-product-info .price .volume .hot-txt {
    font-size: .24rem;
    font-weight: 500;
    color: #999;
}


.oldForNew-product-info .label-bar {
	display: flex;
	align-items: center;
	margin-bottom: .16rem;
}
.oldForNew-product-info .label-bar .label1,
.oldForNew-product-info .label-bar .label2 {
	font-size: 0.22rem;
	line-height: normal;
	font-weight: 500;
	color: #FEFEFE;
	height: 0.32rem;
	padding: 0 .1rem;
	background: #006F72;
	border-radius: 0.04rem;
	border: 1px solid #006F72;
	margin-right: .1rem;
}
.oldForNew-product-info .label-bar .label2 {
	color: #006F72;
	background: #fff;
}
.oldForNew-product-info .tips-bar {
	display: flex;
	align-items: center;
	margin-top: .16rem;
}
.oldForNew-product-info .tips-bar .icon {
	width: 1.09rem;
	height: .26rem;
	margin-right: .16rem;
}
.oldForNew-product-info .tips-bar .txt {
	font-size: 0.24rem;
	line-height: normal;
	font-weight: 500;
	color: #999999;
}

/* 优惠券 */
.discount-coupon-bar {
	width: 95%;
	height: .9rem;
	margin: 0 auto .2rem;
	padding: 0 .3rem;
	overflow: hidden;
	background: #fff;
	border-radius: 1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.discount-coupon-bar .bar-l {
	display: flex;
	align-items: center;
}
.discount-coupon-bar .bar-l .icon-head {
	width: 1.2rem;
	height: .38rem;
	margin-right: .1rem;
}
.discount-coupon-bar .bar-l .tips {
	font-size: 0.28rem;
	line-height: normal;
	font-family: PingFang SC;
	font-weight: bold;
	color: #333;
}
.discount-coupon-bar .bar-r {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.discount-coupon-bar .counter {
	display: flex;
	align-items: center;
}
.discount-coupon-bar .counter .tiem-item,
.discount-coupon-bar .counter .time-dot {
	font-size: 0.28rem;
	line-height: normal;
	font-weight: bold;
	color: #FF162E;
	padding: 0 .02rem;
}
.discount-coupon-bar .counter .icon-arr {
	width: .26rem;
	height: .26rem;
	margin-left: .1rem;
}

.commodity-box {
    width: 100%;
    height: 1.12rem;
    padding: 0 .2rem;
    display: flex;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #fff;
}
.commodity-box .icon-title {
	width: 1.53rem;
	height: .3rem;
}
.commodity-box .line {
	width: 1px;
	height: .26rem;
	margin: 0 .26rem;
	background: #ccc;
}
.commodity-box .service-box {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: .1rem;
}
.commodity-box .service-box .service-item {
	display: flex;
	align-items: center;
}
.commodity-box .service-box .service-item .icon {
	width: .26rem;
	height: .26rem;
	margin-right: .1rem;
}
.commodity-box .service-box .service-item .txt {
	font-size: 0.26rem;
	font-family: PingFang SC;
	font-weight: 400;
	color: #333333;
}

/* 客服弹窗 */
.contact-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: -99;
	transition-duration: .5s;
	opacity: 0;
}
.contact-popup.show {
	z-index: 99;
	opacity: 1;
}
.contact-popup .contact-poup-content {
	width: 100%;
	height: 90%;
	background: #f5f5f5;
	position: absolute;
	box-sizing: border-box;
	bottom: -100vh;
	transition-duration: .5s;
}
.contact-popup.show .contact-poup-content {
	bottom: 0;
}
.contact-popup .contact-poup-content .contact-poup-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: .9rem;
	color: #fff;
	font-size: .32rem;
	background: #cf192a;
}
.contact-popup .contact-poup-content .contact-poup-body {
	height: calc(100% - .9rem);
}
.contact-popup .close-wrap {
	right: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: .9rem;
	height: .9rem;
}
.contact-popup .close-wrap .icon {
	width: .26rem;
	height: .26rem;
}

/* 商品列表 */
.product-list {
	width:100%;
	padding: 0 2.5%;
	box-sizing: border-box;
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* 你可能还喜欢 */
.guess-like {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem 0 .3rem;
}
.guess-like .line {
	width: .5rem;
	height: 1px;
	margin: 0 .16rem;
	background: #FF162E;
	position: relative;
}
.guess-like .line::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 3px;
	background: #FF162E;
	border-radius: 50%;
	right: 0;
	top: -1px;
}
.guess-like .line.r::after {
	left: 0;
	top: -1px;
}
.guess-like .icon {
	width: .3rem;
	height: .3rem;
	margin-right: .06rem;
}
.guess-like .title {
	color: #FF162E;
	font-size: .28rem;
	line-height: normal;
	font-weight: 500;
}

/* 优惠券按钮 */
.coupon-btn {
	width: calc(1.69rem *.8);
	height: calc(1.85rem * .8);
	background: url(https://img.quanminyanxuan.com/other/11695749149640c29740a3d3ff3085e9.png) no-repeat;
	background-size: 100% 100%;
	position: fixed;
	right: 0;
	top: 9.6rem;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.coupon-btn .counter {
	display: flex;
	align-items: center;
}
.coupon-btn .counter .tiem-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: .26rem;
	height: .26rem;
	color: #FF162E;
	font-size: .2rem;
	line-height: normal;
	border-radius: .04rem;
	background: #fff;
}
.coupon-btn .counter .time-dot {
	display: inline-block;
	vertical-align: middle;
	margin: 0 .02rem;
	color: #fff;
}
.coupon-btn .coupon-btn .txt {
	color: #fff;
	font-size: .2rem;
	line-height: 1.1;
	margin-bottom: .06rem;
}

/* 颜色闪烁 */
.flicker {
	display: flex;
	width: 100%;
	white-space: nowrap;
	animation-name: flicker;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes flicker {
	0% {
		background: #FF0124;
	}
	50% {
		background: #FF0124;
	}
	51% {
		background: #FFBA00;
	}
	100% {
		background: #FFBA00;
	}
}