@charset "utf-8";
.wrapper {
	width: 100%;
	min-height: 100vh;
	background: #f5f6f8;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}
.banner-box {
	width: 7.5rem;
	height: 4.31rem;
	background-image: url(https://img.quanminyanxuan.com/other/ab4c1610aa384c059070591560e447fa.png);
	background-size: 100% 100%;
	position: relative;
}
.banner-box .time-bar {
	width: 95%;
	height: .88rem;
	margin: .2rem auto;
	background: url(https://img.quanminyanxuan.com/other/4d5cd8c4852b4d359e093210f8289c38.png) no-repeat;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.banner-box .time-bar .counter {
	display: flex;
	align-items: center;
	margin: .02rem 0 0 .3rem;
	font-size: 0.28rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	margin-right: .3rem;
}
.banner-box .time-bar .counter .num {
	width: 0.32rem;
	height: .32rem;
	text-align: center;
	background: #fff;
	border-radius: .04rem;
	font-size: 0.22rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #EB4833;
}
.banner-box .time-bar .counter .text-two {
	line-height: .4rem;
	margin: 0 .06rem;
	font-size: 0.22rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #fff;
}
.banner-box .product-header {
	display: flex;
	justify-content: space-between;
	padding: .16rem 18%;
	box-sizing: border-box;
}
.banner-box .product-header .img {
	width: .81rem;
	height: .76rem;
}
.banner-box .product-header .time-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.banner-box .product-header .time-item .time {
	font-size: 0.22rem;
	line-height: normal;
	font-family: PingFang SC;
	font-weight: 500;
	width: 1.3rem;
	height: 0.32rem;
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: .5rem;
	margin-top: .06rem;
	position: relative;
	color: #fff;
	background: transparent;
}
.banner-box .product-header .time-item .txt {
	line-height: normal;
	font-size: 0.28rem;
	font-weight: bold;
	color: #FFFFFF;
}
.banner-box .product-header .time-item.active .time {
	color: #EB4833;
	background: #FFFFFF;
}
.banner-box .product-header .time-item .time .icon {
	display: none;
}
.banner-box .product-header .time-item.active .time .icon {
	width: .26rem;
	height: .11rem;
	position: absolute;
	bottom: -.1rem;
	left: 50%;
	transform: translateX(-50%);
	display: block;
}

/* 排行榜 */
.ranking-product-list {
	width: 95%;
	margin: -1.76rem auto 0;
}
.product-item-ranking {
	background-color: #fff;
	border-radius: .16rem;
	padding: .2rem;
	display: flex;
	box-sizing: border-box;
	margin-bottom: .1rem;
	position: relative;
}
.product-item-ranking:last-of-type {
	margin-bottom: 0;
}
.product-item-ranking .cover-img {
	flex: 0 0 2.8rem;
	height: 2.8rem;
	border-radius: .08rem;
	margin-right: .2rem;
}
.product-item-ranking .end-img {
	position: absolute;
	top: .2rem;
	left: .2rem;
	width: 2.8rem;
	height: 2.8rem;
}
.product-item-ranking .product-info {
	width: 61%;
}
.product-item-ranking .product-info .name {
	font-size: 0.28rem;
	line-height: .4rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.product-item-ranking .product-info .icon {
	width: .63rem;
	height: .35rem;
	margin-bottom: 2px;
}
.product-item-ranking .product-info .sell-ratio {
	display: flex;
	align-items: center;
	margin-top: 0.32rem;
}
.product-item-ranking .product-info .sell-ratio .left {
	flex: 1;
	height: .14rem;
	background: #FFD4CF;
	border-radius: .2rem;
	position: relative;
}
.product-item-ranking .product-info .sell-ratio .left .inner {
	height: .14rem;
	background: #FF0021;
	position: absolute;
	left: 0;
	top: 0;
	width: 65%;
	border-radius: .2rem;
	font-size: 0.2rem;
	line-height: normal;
	font-family: PingFang SC;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}
.product-item-ranking .product-info .sell-ratio .left .inner .icon-hot {
	width: .22rem;
	height: .22rem;
	position: absolute;
	right: 0;
}
.product-item-ranking .product-info .sell-ratio .right {
	font-size: 0.22rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #666666;
	margin-left: .1rem;
	position: relative;
	bottom: 1px;
}
.product-item-ranking .product-info .bottom {
	align-items: flex-end;
	margin-top: .5rem;
	justify-content: space-between;
}
.product-item-ranking .product-info .bottom .o-price {
	font-size: 0.22rem;
	font-family: PingFang SC;
	font-weight: 500;
	text-decoration: line-through;
	color: #666666;
}
.product-item-ranking .product-info .bottom .price-wrap {
	color: #FF0021;
	display: flex;
	margin-top: .15rem;
}
.product-item-ranking .product-info .bottom .product-img {
	width: .32rem;
	height: .32rem;
	margin-right: .05rem;
}
.product-item-ranking .product-info .bottom .product-text {
	font-weight: bold;
	font-size: .32rem;
	line-height: .3rem;
}
.product-item-ranking .product-info .bottom .product-card {
	font-weight: bold;
	font-size: .3rem;
	line-height: .3rem;
}
.product-item-ranking .product-info .bottom .product-yuan {
	font-weight: 400;
	font-size: .24rem;
	color: #FF0021;
}
.product-item-ranking .btn-go {
	position: absolute;
	right: .2rem;
	bottom: .2rem;
	font-size: 0.32rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	background: #FF0021;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .14rem;
	border-radius: .08rem;
}
.product-item-ranking .btn-go .icon {
	width: .22rem;
	height: .22rem;
	margin-left: .04rem;
}

/* 底部导航 start *******************************************************/
.navigation {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 1.1rem;
	background: #fff;
	border-top: 1px solid #f5f6f8;
	z-index: 998;
}
.navigation .nav-item {
	flex: 1;
	display: flex;
	padding: .12rem 0;
	justify-content: center;
}
.navigation .nav-item .nav-item-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between; 
}
.navigation .nav-item .nav-item-content .nav-img {
	width: .5rem;
	height: .52rem
}
.navigation .nav-item .nav-item-content .nav-txt {
	color: rgb(204, 204, 204);
	font-size: .26rem;
}
.navigation .nav-item .nav-item-content .nav-txt.active {
	color: #cf192a;
}
/* 底部导航 end *******************************************************/

/* 规则 */
.layer {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.layer .regulation {
	width: 80%;
	border-radius: .1rem;
	background-color: #ffffff;
	margin: auto;
	position: relative;
}
.regulation .regulation-head {
	width: 100%;
	padding: .5rem;
	box-sizing: border-box;
	position: relative;
}
.regulation .regulation-head .bg-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.regulation-head .regulation-title {
	width: 50%;
	text-align: center;
	font-size: .44rem;
	color: #ffffff;
	margin: 0 auto;
	position: relative;
}
.regulation .detail {
	width: 86%;
	margin: .37rem auto;
	overflow-y: scroll;
}
.regulation .regulation-item {
	display: flex;
	margin-bottom: .08rem;
	font-size: .24rem;
	font-weight: 600;
	color: #000;
}
.regulation-item .digit {
	flex: 0 0 10%;
}
.regulation-close {
	width: .63rem;
	height: .63rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: -1.2rem;
}