@charset "utf-8";
.product-item {
	width: 49.5%;
	border-radius: .08rem;
	margin-bottom: .1rem;
	overflow: hidden;
	position: relative;
	background: #fff;
}
.product-item .img {
	width: 100%;
	height: 3.6rem;
	border-radius: .08rem .08rem 0 0;
}
.product-item .end-img {
	width: 100%;
	height: 3.6rem;
	border-radius: .08rem .08rem 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

/* 商品文字部分 */
.product-item .product-info {
	width: 100%;
	padding: .2rem .2rem .2rem;
	box-sizing: border-box;
	position: relative;
}
.product-item .product-info .name {
	font-size: .28rem;
	font-family: PingFang SC!important;
	font-weight: bold;
	color: #333333;
	line-height: .4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: normal;
}
.product-item .product-info .name .icon {
	position: relative;
	bottom: .02rem;
	height: .3rem;
	margin-right: .06rem;
}
.product-item .product-info .price {
	font-size: .24rem;
	color: #ff0152;
	position: absolute;
	bottom: .12rem;
}
.product-item .product-info .price .num {
	font-size: .36rem;
	color: #ff0152;
	padding-left: .08rem;
}
.product-item .product-info .bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: .2rem;
	padding-left: 1rem;
}
.product-item .product-info .bottom .l {
	font-size: .22rem;
	font-family: PingFang SC;
	font-weight: 500;
	text-decoration: line-through;
	color: #666666;
}
.product-item .product-info .bottom .r {
	font-size: .22rem;
	font-family: PingFang SC;
	color: #666666;
}
.product-item .product-info .bottom .r .num {
	color: #ff0152;
}
.product-item .product-info .label-text {
	display: inline-block;
	padding: .02rem .16rem;
	margin-top: .14rem;
	font-size: .22rem;
	line-height: normal;
	color: #ff0152;
	background: #ffeded;
	border-radius: .04rem;
}
.product-item .product-info .label {
	display: flex;
	align-items: center;
	margin-top: .2rem;
	margin-bottom: .1rem;
}
.product-item .product-info .label1 {
	height: .32rem;
	font-size: 0.22rem;
	line-height: normal;
	font-family: Source Han Sans CN;
	color: #FFE1B6;
	background: #292929;
	margin-right: .12rem;
	padding: 0 .06rem;
	border-radius: .08rem;
}
.product-item .product-info .label2 {
	height: .32rem;
}