@charset "utf-8";
.recommend-item {
	width: 49.5%;
	border-radius: .08rem;
	margin-bottom: .1rem;
	overflow: hidden;
	position: relative;
}
.recommend-item .product-img img {
	width: 100%;
}
.recommend-item .product-img .activity-end {
	width: 100%;
	height: 3.6rem;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.recommend-item .product-info {
	width: 100%;
	background-color: #fff;
	padding: .1rem .12rem .15rem;
	box-sizing: border-box;
	position: relative;
}
.recommend-item .product-info .descr {
	width: 95%;
	margin: .14rem auto .3rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #333;
	font-size: .28rem;
	line-height: .4rem;
	font-weight: bold;
}
.recommend-item .product-info .midt {
	position: relative;
	width: 95%;
	margin: 0 auto;
	padding: 0 0 .2rem;
}
.recommend-item .midt .midtImg {
	display: block;
	width: 92%;
	height: .8rem;
	margin: 0 auto;
}
.recommend-item .midt .midtor {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: .22rem;
	color: #666;
	/* text-decoration: line-through; */
}
.recommend-item .midt .midtjs {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.22rem;
	font-family: PingFang SC;
	color: #666;
}
.recommend-item .midt .midtjs .num {
	color: #cf192a;
}
.recommend-item .midt .midtjz {
	position: absolute;
	top: -0.08rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 40%;
	text-align: center;
}
.recommend-item .midt .midtjz .midtjz1 {
	font-size: .24rem;
	line-height: .2rem;
	width: 100%;
	color: #cf192a;
	margin-bottom: .08rem;
	font-weight: 700;
}
.recommend-item .midt .midtjz .midtjz2 {
	width: 100%;
	background-color: #cf192a;
	font-size: .24rem;
	line-height: normal;
	color: #fff;
	border-radius: .36rem;
	/* padding: .02rem 0; */
}
.recommend-item .midt .midtjz .midtjz2 .num {
	font-size: .3rem;
	line-height: normal;
	font-weight: 600;
}
.recommend-item .price {
	width: 95%;
    margin: .15rem auto 0.1rem;
    line-height: normal;
    /* height: .8rem; */
    padding: .2rem 0;
    position: relative;
    background-image: url(https://img.quanminyanxuan.com/other/858c7e178b954a2d8ff2e3e2b7a59cb4.png);
    background-size: 100% 100%;
    box-sizing: border-box;
    /* background-color: #CF192A; */
    font-size: 0.28rem;
    font-family: PingFang SC;
    color: #fff;
    border-radius: .08rem;
}
.recommend-item .price .price1 {
	font-weight: 400;
	width: 40%;
	color: #cf192a;
	margin-right: .04rem;
	text-align: center;
}
.recommend-item .price .price11 {
	font-size: .2rem;
	line-height: .2rem;
	margin-top: 0.02rem;
}
.recommend-item .price .price12 {
	font-size: .24rem;
	line-height: .24rem;
	font-weight: 900;
	padding-top: .06rem;
}
.recommend-item .price .price12 .num {
	font-size: .32rem;
	line-height: .32rem;
}
.recommend-item .price .price2 {
	position: absolute;
	right: 5%;
	top: 25%;
	font-size: .28rem;
	line-height: normal;
	color: #fff;
}